:root {
    --tan: #e1b382;
    --tan-accent: #c89666;
    --bluegray: #2d545e;
    --darkblue: #12343b;
}

* {
    font-family: 'Domine', Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

body {
    background-color: var(--tan);
    color: var(--darkblue);
    position: relative;
    font-size: 22px;
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../assets/images/bluesky.png);
    background-size: cover;
    background-position: center;
    border-bottom: 2rem;
    padding-top: 3%;
}

h1 {
    font-size: 2rem;
    color: var(--tan)
}

.exaggerate {
    font-size: 4.5rem;
    color: var(--tan-accent)
}

.container {
    width: 90vw;
    margin: 0 auto;
}

.nav-container {
    color: var(--tan);

}

.table {
    display: table;
    margin: 0 auto;
}

ul#links {
    list-style: none;
    padding-top: 20px;
    
}

ul#links li {
    display: inline;
    
}

ul#links li a {
    color: var(--tan);
    margin: 25px;
}

ul#links li a:hover {
    font-size: 1.7rem;
    color: var(--tan-accent)
}

h2 {
    font-size: 2rem;
    padding-top: 2%;
    padding-bottom: 2%;
    color: var(--darkblue)
}
#about-me {
    min-width: 90vw
}

#about-me img {
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    max-height: fit-content;
    

}

div #about-me {
    border: 2px solid var(--bluegray);
    text-align: center;
}

#about-me h2 {
    font-size: 3rem;
}
#about-me p {
    border-top: 2px solid var(--bluegray);
    margin: 5px;
    padding-top: 10px;
    color: var(--darkblue)
}

img#picture {
    border: 2px solid var(--bluegray);
    border-radius: 50%;
    overflow: hidden;
}

.content-main {
    border-right: 2px solid var(--bluegray);
    border-left: 2px solid var(--bluegray);
    
}

.content-main h2 {
    font-size: 4rem;
    border-bottom: 2px solid var(--bluegray);
    
}

.content-main p {
    padding-top: 14px;
    
}

.works {
   
    border-bottom: 2px solid var(--bluegray);
}

.card {
    height: 200px;
    width: 220px;
    padding: 20px 35px;
    background: var(--tan-accent);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    text-align: center;
    z-index: 2;
    
}

.card:hover {
    cursor: pointer;
}



#contact-me {
    width: 100%;
    font-size: 2rem;
    background: var(--tan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
}


.contact-me h3 {
    color: var(--darkblue);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

@media screen and (min-width: 425px) {
    ul#links li a:hover{
        color: var(--tan-accent)
        
    }

    img#picture {
        max-width: 50%;
    }
}

@media screen and (max-width: 320px) {
    img#picture {
        max-width: 50%;
    }

    ul#links li {
        display: flex;
        margin: 2px;
    }
    .exaggerate {
        font-size: 2rem;
    }
    figure {
        padding-right: 20px;
        
    }
}